<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{% trans %}Revision{% endtrans %}</h4>
</div>
<div class="modal-body">

    <h5>{% trans %}Decision{% endtrans %}</h5>
    <p>{{ protocol_revision.decision }}</p>

    {% if protocol_revision.otherComments %}
        <h5>{% trans %}Comments{% endtrans %}</h5>
        <p>{{ protocol_revision.otherComments|nl2br }}</p>
    {% endif %}

    {% if protocol_revision.suggestions %}
        <h5>{% trans %}Suggestions{% endtrans %}</h5>
        <p>{{ protocol_revision.suggestions|nl2br }}</p>
    {% endif %}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
</div>
