{% extends "::base.html.twig" %}

{% block title %}{% trans %}Help{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content download-docs">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Help{% endtrans %}</h1>
            </div>
        </div>

        <div class="block">
            <div class="row">
                <div class="col-md-12">
                    {% for document in documents %}
                        <h2 class='sub-header'>{{ document.title }}</h2>
                        <p>{{ document.description }}</p>
                        <p><a href="{{ document.uri }}"><span data-toggle="tooltip" data-placement="top" title="">{{ document.filename }}</span></a></p>
                    {% endfor %}
                </div>
            </div>    
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

        });
    </script>
{% endblock %}
